.display {
    position: relative;
    width: auto;
    height: 800px;
    overflow: hidden; 
    
}

.display img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: -1; 
}

.maincontent{
    height: 600px;
    width: auto;
    background-color: rgb(63, 62, 62);
    padding-top: 50px;
}

.container {
    display: flex;
    width: auto;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 50vh;
    margin-left: 5%;
    margin-right: 5%;
    border-top: solid white;
   
  }
  
  .box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(61, 57, 57, 0.1);
    line-height: 0;
    border: solid;
  }
  
  .box > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }
  
  .box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 1.6;
    color: aliceblue;
    margin-top: 10px;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
    width: 100%;
    height: 100%;
  }

  .box span{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
  }
