/*--------------------HEADER_INTRO_HOME_PAGE-------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(235, 236, 236);
}


.nav_home {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    border-bottom: 2px solid white;
    

}

.home_link a {
    color: aliceblue;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    transition: color 0.3s ease;
}

.home_link a:hover {
    color: #a8dadc;
}


.intro_home {
    width: 100%;
    height: 100vh; 
    background: url('https://images.unsplash.com/photo-1583152607718-1ef10f410528?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    
}


.container_text {
    text-align: center;
    margin-top: 20px;
}


.home_text {
    color: rgb(34, 59, 57);
    font-size: 70px;
    font-family: 'Kaushan Script', cursive, sans-serif;
    margin: 10px 0;
}


.span_home_t {
    color: #a8dadc;
    font-size: 80px;
}

/*--------------------HEADER_HOME_PAGE-------------------*/

.header_home_page{
    width: 100%;
    height: 100px;
    background-color: #224d39;
    display: flex;
   
}

.logo_container_home{
    height: 60px;
    width: 60px;
    align-self: center;
    margin-left: 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 15px; 
}


.logo_container_home img{
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
}

.header_home_page input{
    height: 30px; 
    align-self: center; 
    margin-left: 40px; 
    width: 250px;
    border-radius: 20px;

}

input::placeholder {
    color: gray;
    font-style: italic;
    padding-left: 10px;
    
}

.header_home_page h1{
    margin-left: 30%;
    color: aliceblue;
}

/*--------------------HOME_PAGE-------------------*/

.top_text{
  
   margin-left: 200px;
   margin-right: 200px;
   border-bottom: solid;
    align-self: center;
}

.top_text h4{
    text-align: center;
}

.top_text2{
    margin-left: 200px;
   margin-right: 200px;
   border-bottom: solid;
}
.top_text2 h3{
    text-align: center;

}
/*-----------------------SEVEN_IMAGE------------------------*/

.sevenimage_container{
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
    border-bottom: solid;
    padding-bottom: 20px;
}

.sevenimage_container img{
    width: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.25s;
    padding-bottom: 10px;
}

.sevenimage_container img:hover{
    width: 25%;
}

/*------------------------PLAN_CONTAINER---------------------------*/

.parents_container_plan{
    margin-top: 20px;
    width: auto;
    height: 400px;
    margin-left: 5%;
    margin-right: 5%;
    border: solid;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    
    
}

.container_plan{
    height: 350px;
    width: 200px;
    align-self: center;
    border-radius: 30px;
    justify-content: center;
    
    
    
}

.container_img_text_plan{
    margin-top: 10px;
    height: 290px;
    width: 170px;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    margin-left: 15px;
    border: solid;
    padding-top: 10px;
}

.img_container_plan{
    height: 170px;
    width: 150px;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 8px;
    border: solid rgb(0, 0, 0);
    background-color: black;
    
}

.text_container_plan{
    height: 80px;
    width: 160px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.visit_container_plan{
    height: 30px;
    width: 180px;
    border-radius: 40px;
    background-color: rgb(24, 73, 77);
    margin-left: 11px;
    margin-top: 10px;
}

.plan_text_intro{
    margin-left: 90px;
    margin-top: 50px;
}

/*------------------------Hotels_&_Accommodations---------------------------*/

.hotels_text_intro{
    margin-left: 90px;
    margin-top: 50px;
}

.hotels_container{
    width: auto;
    height: 1350px;
    border: solid;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    padding-top: 30px;
}

.hotels_container_jr{
    height: 350px;
    width: 1340px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.hotels_container_child{
    height: 350px;
    width: 240px;
    border-radius: 30px;
    display: grid;
    justify-content: center;
}

.img_text_container{
    height: 300px;
    width: 220px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid;
  
}

.img_container-hotels{
    margin-top: 10px;
    margin-left: 10px;
    height: 200px;
    width: 200px;
    background-color: #16898d;
    align-self: center;
    border-radius: 30px;
}
.text_container_hotels{
    height: 60px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

.hotels_visit{
    height: 30px;
    width: 220px;
    background-color: rgb(24, 73, 77);
    border-radius: 30px;
    margin-top: 5px;
}

.home_last{
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid;
    margin-left: 5%;
    margin-right: 5%;    
    
}
.back{
    height: 50px;
    width: 300px;
    background-color: #c46656;
    border-radius: 30px;
}
.conatct{
    height: 50px;
    width: 300px;
    background-color: rgb(66, 85, 55);
    border-radius: 30px;
}
.about{
    height: 50px;
    width: 300px;
    background-color: rgb(66, 106, 129);
    border-radius: 30px;
}

