body{
    margin: 0px;
}
.page1_contact_container{
    display: flex;
    height: 860px;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}
.container_form{
    width: 50%;
    height: 870px;
    background-color: white;
    border-left: solid;
   
}
.image_container{
    width: 50%;
    height: 870px;
    background-color: antiquewhite;
}

.image_container img{

    width: 100%;
    height: 870px;
    object-fit: cover;
}

.container{
    width: 90%;
    height: 500px;
    border: solid;
    border-radius: 30px;
    margin-left: 5%;
}

.form-group{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.form-group input{
    border-radius: 20px;
    width: 45%;
    height: 40px;
    margin-top: 30px;
    outline: none;
}

.form-goup2{
    margin-left: 3%;
    
}
.form-goup2 input{
    width: 95%;
    align-self: center;
    margin-top: 10px;
    height: 40px;
    border-radius: 20px;
    
}
.form-goup2 textarea{
    margin-top: 10px;
    width: 95%;
    height: 200px;
    border-radius: 10px;

}

.btn{
    width: 93%;
    height: 40px;
    background-color: #4a5b41;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 3%;
    margin-top: 20px;
}


.txt_contact{
    height: 200px;
    width: auto;
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
}

.txt_contact h1{
    font-family: 'Poppins', sans-serif;
}
.txt_contact p{
    font-family: 'Poppins', sans-serif;
}

.btn:hover {
    background-color: #3b4a33;
}

.back-btn {
    margin-top: 10px;
    padding: 5px 40px;
    background-color: #4a5b41;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-left: 5%;
}

.back-btn:hover {
    background-color: #3b4a33;
}